$main-header: #7ce7ff;
$main-header-highlight: #b0eefc;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.25rem;
  background-color: $main-header;
}

.buttons {
  margin: 0 1em;
  cursor: pointer;
}

.leaderboard {
  margin-bottom: 0.1rem;
  font-variant: small-caps;
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.link {
  color: black;
  text-decoration: none;
  display: block;
  cursor: pointer;
  width: 100%;
  text-align: right;

  &:hover {
    background-color: $main-header-highlight;
    padding-right: 0.25em;
    color: #000;
    text-shadow: 0.15em 0.15em #fff;
  }
}

.bold {
  font-weight: bold;
}

.hr {
  margin-bottom: 0.5rem;
  height: 0.1em;
  width: 100%;
  background-color: black;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dropdown {
  background-color: $main-header;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.25rem 1.25rem;
}