$main-header: #7ce7ff;
$main-header-highlight: #b0eefc;
$light-grey: #eee;

.blockText,
.blockTextFixed {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  border: 1px black solid;
  padding: 0.25rem 0.6rem;
}

.blockText:hover {
  background-color: $light-grey;
  text-shadow: 0.1rem 0.1rem white;
}

.blocks {
  display: flex;
  gap: 1rem;
}

.bold {
  font-weight: 700;
}