$main-header: #7ce7ff;
$main-header-highlight: #b0eefc;
$light-grey: #eee;

.blockText,
.blockTextFixed {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.blocks {
  display: flex;
  gap: 2rem;
}

.bold {
  font-weight: 700;
}