body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Public Sans', sans-serif;
}

a {
  color: #03556d;
  text-decoration: underline;

  &:hover {
    color: #001e21;
  }
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}