.columns {
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
}

@media only screen and (max-width: 768px) {
    .columns {
        display: block;

        .tableArea {
            margin: 1rem;
        }
    }
}

.tableArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}
