.columns {
  display: flex;
  justify-content: space-around;
  gap: 1.5em;
}

.tableArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .columns {
    display: block;

    .tableArea {
      margin: 1rem 0;
      display: block;
    }
  }
}

.links {
  text-align: center;
}