$main-header: #7ce7ff;
$main-header-highlight: #b0eefc;
$light-grey: #eee;

.status {
  position: sticky;
  margin-top: 1rem;
  padding: 0.25rem;
  bottom: 0;
  border: 1px solid black;
  box-sizing: border-box;
  width: 100%;
  background-color: $main-header-highlight;
}