.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bold;
  font-size: 1.2rem;
}

.list {
  font-size: 0.95rem;
  list-style-type: square;
}

.columns {
  display: flex;
  justify-content: flex-start;
  gap: 1.5em;
}
@media only screen and (max-width: 768px) {
  .columns {
    display: block;

    .tableArea {
      margin: 1rem;
    }
  }
}