$main-header: #7ce7ff;
$main-header-highlight: #b0eefc;
$light-grey: #eee;

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bold;
  font-size: 1.2rem;
}

.list {
  font-size: 0.95rem;
  list-style-type: square;
}

.columns {
  display: flex;
  justify-content: flex-start;
  gap: 1.5em;
}
@media only screen and (max-width: 768px) {
  .columns {
    display: block;

    .tableArea {
      margin: 1rem;
    }
  }
}

.blockText {
  margin-bottom: 1rem;
  font-variant: small-caps;
  font-feature-settings: normal;
  font-size: 1.5rem;
  background-color: $main-header-highlight;
  border: 1px black solid;
  text-shadow: 0.1rem 0.1rem white;
  padding: 0.25rem;
}

.divider {
  height: 2rem;
}

.blocks {
  display: flex;
  gap: 1rem;
}